{% extends 'base/principal.html' %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-outline-primary" type="submit" value="Ingresar">
            </form>
          </div>
        </div>
      </div>
    </div>

    {% comment %}<div class="barra-superior">
        <h1>Ingresar</h1>
    </div>

    <div class="cuerpo-tarjeta">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="boton" type="submit" value="Ingresar">
        </form>
    </div>{% endcomment %}

    <div class="barra-superior">
        <p>¿No tienes una cuenta? <a href="{% url 'registro' %}"><b>Registrate</b></a></p>
    </div>


{% endblock content %}