{% extends 'base/principal.html' %}

{% block content %}
    <div class="barra-superior">
        <h1>Registrarse</h1>
    </div>

    <div class="cuerpo-tarjeta">
        <form method="post">
            {% csrf_token %}
            <label>{{ form.username.label }}</label>
                {{ form.username }}
            <label>{{ form.password1.label }}</label>
                {{ form.password1 }}
            <label>{{ form.password2.label }}</label>
                {{ form.password2 }}
            <input class="boton" type="submit" value="Registrarse">
        </form>
    </div>
    <div class="barra-superior">
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}"><b>Ingresar</b></a></p>
    </div>


{% endblock content %}